.header{
    width: 96%;
    height: auto;
    box-shadow: 0px 0px 15px -7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #666;
}

img{
    width: 80px;
    height: 55px;
    max-width: 100%;
    margin-left: 10px;
}
*{
    margin: 0;
    padding: 0;
}