.nav {
   border-color: black;
   border: 2px;
   display: flex;
   justify-content: space-between;
   box-shadow: 0 0 10px #666;
   padding: 10px;
}
#img{
  width: 150px;
  height: 40px;
  padding: 5px;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
    margin:0;
    padding: 10px;
}

.nav ul li {
    padding: 5px;
    display: inline-block;
    padding: 5 35px;
    text-align: right;
}

.nav ul li a{
    text-decoration: none;
    padding: auto;
}
.header{
    width: 100%;
}