.header{
<<<<<<< HEAD:css/cabeçalho_1.css
    width: 95%;
=======
    width: 96%;
>>>>>>> c1d6d45d606f6a95525e65070d8bfb7938a5c1ee:css/cabeçario_1.css
    height: auto;
    box-shadow: 0px 0px 15px -7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #666;
}

img{
    width: 80px;
    height: 55px;
    max-width: 100%;
    margin-left: 10px;
}
*{
    margin: 0;
    padding: 0;
}