.cabecalho{
    width: 96%;
    height: auto;
    box-shadow: 0px 0px 15px -7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;

}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
.nav-menu ul li{
    display: inline;
    margin-right: 7px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-family: sans-serif;
}

.div-logo{
    width: 150px;
    height: 70px;
    max-width: 100%;
    max-height: auto;
    margin-left: 12px;
    justify-content: left;
}
*{
    margin: 0;
    padding: 0;
}
i{
    font-size: 1.8em;
    padding-left: 10px;
}
@media(max-width:500px){
    .cabecalho{
        flex-direction: column;
    }
    .social{
        margin-top: 10px;
    }
    a{
        font-size: 14px;
    }
}